<!-- informational.html -->

<div>
  <p>Dear colleagues,</p>
  <p>
    An alert has been raised based on the latest data from the WHO bulletins <a href="https://www.afro.who.int/health-topics/disease-outbreaks/outbreaks-and-other-emergencies-updates">here</a>.
  </p>
  <p>
    Please find more information below.
    <ul>
      {{{watch_alerts_html}}}
      {{{warning_alerts_html}}}
    </ul>
  </p>
  <hr>
  <div id="alert-info" class="section level2">
    <h2><strong>Alerts by Country</strong></h2>
    {{{plot_section}}}
    <hr>
  </div>

  <p>
    The code used to produce this alert is available on GitHub <a href="https://github.com/OCHA-DAP/ds-afro-cholera">here</a>.
  </p>
  <p>Best regards,</p>
  <p>OCHA Centre for Humanitarian Data</p>
  <hr>
</div>
